div#header {
  clear:both;
  height: 50px;
  margin: 20px;
  justify-content: center;

}

div#footer {
  clear:both;
  height: 50px;
  margin: 20px;
  justify-content: center;


}

div#column1 {
  height: 200px;
  width: 300px;
  background-color: #666699;



}


div#column2 {
  height: 100px;
  width: calc(100% - 300px);
  background-color: #d1d1e0;


}
