div#header {
  clear: both;
  height: 50px;
  padding: 10px;
  background-color: aqua;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 10px;
}

div#left {
  width: 280px;
  padding: 10px;
  float: left;
  background-color: #008B8B;
  text-align: center;
  margin-bottom: 50px;
  margin-right: 10px;
}

div#right{
  width: calc(100% - 360px);
  padding: 10px;
  float:right;
  background-color: #48D1CC;
  text-align: center;
  margin-right: 10px;
}

div#footer{
  clear: both;
  background-color: #FF4500;
  padding: 10px;
  height: 50px;
  text-align: center;
  margin-top: 500px;
  margin-right: 10px;
}
