div.modal-dialog {
  text-align: center;

}

div.modal-header {
  text-align: center;

}

div.modal-content {
  text-align: center;

}

div.modal-buttons {
  text-align: center;

}

.wraptext {
  position: relative;
  margin: 200px;

}
