body {
  text-align: center;
  background-color: #FAFFFE;
}

.textfield {
  font-size: 1.6em;
  width: 500px;
  margin-bottom: 20px;
  background-image: url(mic.png);
  background-repeat: no-repeat;
  background-position: right;
  border: 5px solid green;
}

img {
  margin-top: 100px;
}

button {
  font-size: 0.8em;
  font-weight: bold;
  padding: 10px;
  background-color: #EFFAF3;
  border: 1px solid #EFFAF3;
}
